.container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  padding: calc(12px + 2vh) calc(12px + 2vw);
}

.container > h2 {
  font-size: calc(2em + 1vw);
}

.card-servico {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(var(--black), .2);
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  width: 100%;
}

.card-servico:nth-of-type(n + 2) {
  margin-top: 8px;
}

.card-servico img {
  border-radius: 10px 10px 0 0;
  height: 140px;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: minmax(500px, 800px);
    justify-content: center;
  }

  .card-servico {
    grid-template-columns: 1fr 2fr;
  }

  .card-servico img {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, minmax(400px, 800px));
  }

  .container h2 {
    grid-column: 1 / span 2;
    margin-bottom: 4vh;
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.content p {
  color: rgba(var(--black), .8);
  text-align: justify;
}

.content .button {
  align-self: center;
  width: calc(150px + 10vw);
}

.content p,
.content .button {
  font-size: calc(1em + .1vw);
  margin-top: 6px;
}